# site settings
title: From iconic isomorphism to arbitrary morphophonology 
subtitle: Movement repetition in ASL noun-verb pairs
email: 
description: A visual glossary for all ASL signs referenced in the manuscript, "From iconic isomorphism to arbitrary morphophonology: Movement repetition in ASL noun-verb pairs" submitted to Linguistic Typology
baseurl: "/movrepemergenceVG" # the subpath of your site, e.g. /blog
url: # the base hostname & protocol for your site
author:
street_address: 
city: 
state: 
zip_code: 
country: 
phone: 

# homepage tiles
tiles-source: pages # accepts "posts" or "pages"
tiles-count: 60

# social settings (key must match name of font awesome icon)
# see https://fontawesome.com/icons?d=gallery&p=2&s=brands
# Icons are not shown if value is empty
# You need to restart jekyll for changes to have an effect
socials:
  GitHub: 
  GitLab:
  Google-Plus: 
  Instagram:
  LinkedIn: 
  Twitter: 
  Facebook:
  Slack:

# build settings
markdown: kramdown

sass:
  style: compressed

exclude:
- "*.gemspec"
- LICENSE.md
- CONTRIBUTING.md
- README.md 
